@import "tailwindcss" source("../templates");
@source "input.css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Geist";
  font-style: normal;
  font-display: swap;
  src: url(/assets/Geist-Variable.woff2) format("woff2");
}
@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-display: swap;
  src: url(/assets/GeistMono-Variable.woff2) format("woff2");
}

@theme inline {
  --font-sans: "Geist", "system-ui";
  --font-mono: "Geist Mono", monospace;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --destructive: oklch(0.577 0.245 27.325);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --destructive: oklch(0.704 0.191 22.216);
}

kbd {
  @apply bg-muted rounded shadow-sm text-muted-foreground font-mono text-xs px-1.5 py-0.5;
}

a[type="button"],
button {
  @apply h-8 cursor-pointer text-sm font-medium transition-colors duration-100 rounded;
}

button.primary {
  @apply bg-foreground text-background hover:bg-foreground/90 py-2 px-4 shadow;
}

a[type="button"].icon,
button.icon {
  @apply aspect-square flex justify-center items-center;
}

a[type="button"].destructive,
button.destructive {
  @apply text-destructive hover:bg-destructive/10;
}

input[type="text"] {
  @apply h-8 rounded-md border border-muted outline-none focus:border-foreground px-3 py-1 user-invalid:not-focus:not-placeholder-shown:border-destructive user-invalid:not-focus:not-placeholder-shown:hover:border-destructive/80 user-invalid:text-destructive focus:text-foreground hover:border-foreground/20 transition-colors duration-100 placeholder:text-muted-foreground;
}

select {
  @apply h-8 rounded-md border border-muted outline-none focus:border-foreground px-3 py-1 invalid:not-placeholder-shown:border-destructive hover:border-foreground/20 transition-colors duration-100;
}

@theme {
  --animate-stack-in: stack-in 300ms ease-in-out;
  @keyframes stack-in {
    0% {
      transform: translateY(-85px);
      opacity: 0;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }
}
